body {
    font-family: 'Varela Round', sans-serif;
    padding: 20px 0px 50px 0px;
    background-color:#f2f1f7;
}

h2 {
    font-size: 3em;
    text-shadow: 1px -3px 4px #ab8b8b;
}

h3 {
    font-size: 1.4em;
}

h2, h3 {
    text-align: center;
}

.projects {
    width: 80%;
    margin: auto;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    border: 2px solid #3e3ccc ;
    border-radius: 10px;
    background-color: white;
    margin: 20px 0px;
}

.card__img {
    width: 200px;
}

.card__text {
    text-align: center;
}

.new-project {
    margin: 100px auto 0px auto;
    width: 50%;
    background-color: #1484c5;
    border-radius: 10px;
    padding: 20px 50px 50px 50px;
}

.new-project-form {
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
}

.new-project-form__input-group {
    display: flex;
    justify-content: space-between;
    font-size: 1.1em;
    margin: 20px 0px; 
}

.new-project-form__input-group input {
    width: 60%;
    border-radius: 8px;
    border: none;
    height: 2em;
    font-family: inherit;
}

.new-project-form__input-group input:focus {
    outline: solid #37aad8;
}

.new-project-form__input-group--textarea {
    flex-direction: column;
    align-items: center;
}

.new-project-form__input-group--textarea textarea {
    border-radius: 8px;
    margin-top: 20px;
    font-family: inherit;
    border: none;
    width: 80%;
}

.new-project-form__input-group--textarea textarea:focus {
 outline: solid #50acf7;
}

.new-project__button {
    width: 50%;
    margin: 20px auto;
    background-color: #1340b996;
    border-radius: 8px;
    font-size: 1.2em;
    font-family: inherit;
    min-height: fit-content;
    padding: 10px;
    cursor: pointer;
}

.new-project-sup__button {
    width: 30%;
    background-color: #5ac8db;
    border-radius: 8px;
    font-size: 1.2em;
    font-family: inherit;
    min-height: fit-content;
    padding: 10px;
    cursor: pointer;
}

@media screen and (max-width: 1100px) {
    .card {
        width: 45%;
    }

.new-project-form__input-group {
    flex-direction: column;
    align-items: center;
}

.new-project-form__input-group input {
    width: 80%;
    margin-top: 10px;
   }

   .new-project-sup__button {
    width: 80%;
   }
}

@media  screen and (max-width: 700px) {
    .cards {
        justify-content: center;
    }

    .card {
        width: 80%;
    }

    .new-project {
        width: 80%;
    }
}

@media screen and (max-width: 430px) {
    .card__img {
        width: 150px;
    }

    .new-project-form__input-group {
        text-align: center;
    }

    .new-project-form__input-group input, .new-project-form__input-group textarea {
        width: 100%;
    }

    .new-project__button {
        width: 100%;
    }

    .new-project-sup__button {
        width: 100%;
    }
}

.center-childs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-project {
    box-sizing: border-box;
    background-color: rgb(23, 155, 243);
    color: rgb(0, 0, 0);
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    border-radius: 8px;
    text-align: center;
    cursor: default;
    width: 10%;
    margin-left: 100px;
    margin-inline: 100px;
    position: relative;
    height: 59px;
    border: none;
}